---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=query&format=json&prop=revisions&rvprop=content&titles=bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=33750 t=1482200349403803
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 65.156.156.90
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"normalized":[{"from":"bacon","to":"Bacon"}],"pages":{"63394":{"pageid":63394,"ns":0,"title":"Bacon","revisions":[{"contentformat":"text/x-wiki","contentmodel":"wikitext","*":"{{About|the
        meat}}\n{{pp-semi-indef}}\n{{Use dmy dates|date=July 2014}}\n[[File:Schwein
        Speck.svg|thumb|(1) fatback (2) pork belly]]\n[[File:Made20bacon.png|thumb|A
        strip of cooked streaky bacon]]\n''''''Bacon'''''' is a meat product prepared
        from [[pork]] and usually [[Curing (food preservation)|cured]].<ref name=\"About
        Homecooking\">{{cite web | url=http://homecooking.about.com/od/cookingfaqs/f/faqbacon.htm
        | title=What is bacon | publisher=About.com | accessdate=1 January 2014 |
        author=Filippone, Peggy}}</ref><ref name=\"About Foodreference\">{{cite web
        | url=http://foodreference.about.com/od/Meat/a/What-Is-Bacon.htm | title=What
        is Bacon? | publisher=About.com | accessdate=1 January 2014 | author=Moncel,
        Bethany}}</ref> It is first cured using larg[...]
